body {
    margin: 0px;
}

.header_links {
    background: #1f2937;
    display: flex;
    color:#f9faf8 ;
    padding-bottom: 90px; 
}
#header_logo {
padding-left: 160px;  
padding-right:  1000px; 
font-size:  24px;
font-weight: bold;
}
#header_link_1 {
    padding-right:35px ;
    padding-top: 4px;
    font-size: 18px;
    color:#99999c
}
#header_link_2 {
    padding-top: 4px;
    padding-right: 35px;
    font-size: 18px;
    color: #99999c;
}
#header_link_3 {
    padding-top: 4px;
    font-size: 18px;
    color: #99999c;
}

.flex-parent-element-eyecatcher{
    display:flex;
    width: 100%;
    background-color: #1f2937;
}
.flex-child-element-left{
    flex: 1;
    margin: 10px
}
.flex-child-element-right{
    flex: 1;
    margin: 10px;
    padding-left: 0px;
    padding-bottom: 100px;
}
.flex-child-element:first-child{
    margin-right: 20px;
}

.web-text{
    font-size: 48px; 
    color: #f9faf8;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 450px;
    padding-right: px;
    margin-bottom: -20px;

}
.header-sub{
    font-size: 18px;
    color: #e5e7eb;
    padding-left: 450px;
    padding-right: px;
    margin-bottom: -10px;
}
.s-button{
    background-color:#3882f6;
    border: none;
    color: #f9faf8;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    border-radius: 8px;
    margin-left: 450px;
}
#hero-image{
    padding-top:35px;
}

.second-header{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

